Pathway/Service References/DataService/YidanEHRDataService8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Yidansoft.Service.Entity.ReportForms" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Yidansoft.Service.Entity.ReportForms" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRpt_InPathPatientFeePercent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Rpt_InPathPatientFeePercent" nillable="true" type="tns:Rpt_InPathPatientFeePercent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRpt_InPathPatientFeePercent" nillable="true" type="tns:ArrayOfRpt_InPathPatientFeePercent" />
  <xs:complexType name="Rpt_InPathPatientFeePercent">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bzfy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bzts" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CwFei" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HshlFei" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hzxm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JcFei" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JyFei" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ljmc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ljzt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Qita" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SyxhID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="XyFei" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Yjlj" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZhiliaoFei" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zj" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZlFei" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zyts" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rpt_InPathPatientFeePercent" nillable="true" type="tns:Rpt_InPathPatientFeePercent" />
  <xs:complexType name="ArrayOfRpt_PathEnterStatistics">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Rpt_PathEnterStatistics" nillable="true" type="tns:Rpt_PathEnterStatistics" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRpt_PathEnterStatistics" nillable="true" type="tns:ArrayOfRpt_PathEnterStatistics" />
  <xs:complexType name="Rpt_PathEnterStatistics">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bhzs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ksmc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ljdm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ljmc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rjl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rjrs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tcl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tcrs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Wcl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Wcrs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zjl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zjrs" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rpt_PathEnterStatistics" nillable="true" type="tns:Rpt_PathEnterStatistics" />
  <xs:complexType name="ArrayOfRpt_ClinicalDiagnosis">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Rpt_ClinicalDiagnosis" nillable="true" type="tns:Rpt_ClinicalDiagnosis" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRpt_ClinicalDiagnosis" nillable="true" type="tns:ArrayOfRpt_ClinicalDiagnosis" />
  <xs:complexType name="Rpt_ClinicalDiagnosis">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bzdm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bzmc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rpt_ClinicalDiagnosis" nillable="true" type="tns:Rpt_ClinicalDiagnosis" />
</xs:schema>