Pathway/Service References/DataService/YidanEHRDataService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Yidansoft.Service.Entity.Pass" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Yidansoft.Service.Entity.Pass" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfParameterProperty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ParameterProperty" nillable="true" type="tns:ParameterProperty" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParameterProperty" nillable="true" type="tns:ArrayOfParameterProperty" />
  <xs:complexType name="ParameterProperty">
    <xs:sequence>
      <xs:element minOccurs="0" name="LabelText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Property" nillable="true" type="tns:ArrayOfParameterCell" />
      <xs:element minOccurs="0" name="Tag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="m_Property" nillable="true" type="tns:ArrayOfParameterCell" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParameterProperty" nillable="true" type="tns:ParameterProperty" />
  <xs:complexType name="ArrayOfParameterCell">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ParameterCell" nillable="true" type="tns:ParameterCell" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfParameterCell" nillable="true" type="tns:ArrayOfParameterCell" />
  <xs:complexType name="ParameterCell">
    <xs:sequence>
      <xs:element minOccurs="0" name="Names" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ParameterCell" nillable="true" type="tns:ParameterCell" />
</xs:schema>