Pathway/Service References/DataService/YidanEHRDataService13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebService.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebService.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfUser2Dept">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User2Dept" nillable="true" type="tns:User2Dept" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser2Dept" nillable="true" type="tns:ArrayOfUser2Dept" />
  <xs:complexType name="User2Dept">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeptId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeptName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsCheck" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WardId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WardName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User2Dept" nillable="true" type="tns:User2Dept" />
</xs:schema>